html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header img {
    width: 100%;
}

h1 {
    text-align: center;
    size: 3rem;
}

h1,
h2 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* https: //css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-examples */
/* https: //developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
.photolist {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: flex-start;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: darkred;
    color: whitesmoke;
    text-align: left;
    border-radius: 6px;
    padding: 5px 2px;

    /* Position the tooltip*/
    position: relative;
    z-index: 1;
    top: -10px;
    left: 2rem;
}

figcaption:hover .tooltiptext {
    visibility: visible;
}

.box {
    padding: 1.5rem;
    margin: 1rem 0;
}