html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header img {
    width: 100%;
}

h1 {
    text-align: center;
    size: 3rem;
}

h1,
h2 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.photolist {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 2rem;
}

.box {
    padding: 1.5rem;
    margin: 1rem 0;
}